<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
    <nav>
        <div>
            {% if user.is_authenticated %}
            <h2>{{ current_user.nickname|safe }}</h2>님 반갑습니다
            <div><a href="/">Home</a></div>
            <div><a href="/logout">Logout</a></div>
            {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div>
        {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>