<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    
</head>
<body>
    <nav>
        <button>
            <div>
                <div>
                    {% if user.is_authenticated %}
                    <p><h2>{{current_user.nickname}}</h2>님 반갑습니다</p>
                    <div><a id="home" href="/">home</a></div>
                    <div><a id="logout" href="/logout">Logout</a></div>
                    {% else %}
                    <a id="login" href="/login">Login</a>
                    <a id="signup" href="/signup">Signup</a>
                    {% endif %}
                </div>
            </div>
        </button>
    </nav>

    {% with messages=get_flashed_messages(with_categories=true) %}  <!-- 오타 수정 -->
    {% if messages %}
        {% for category, message in messages %}
        <div class="fade show alert {% if category == 'error' %}alert-danger{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>