<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>작성자:{{writer|safe}}</p>
    <p>
    <h1>제목 : {{title|safe}}</h1>
    </p>
    <p>내용 : {{content|safe}}</p>

    {% if check %}
    <div>
        <iframe src="{{ url_for('views.download_image', filename=index ~ '.jpeg') }}" 
        width="450" height="450" frameborder="0"></iframe>
    </div>
    <a href="{{ url_for('views.download_by_filename', filename=index ~ '.jpeg') }}">이미지 다운로드</a>
    {% endif %}


    <h2>💬 댓글</h2>
    <form method="POST">
        <textarea name="content" placeholder="댓글 내용" required></textarea><br>
        <button type="submit">댓글 작성</button>
    </form>

    <ul>
        {% for comment in comments %}
        <li><strong>{{ comment.author|safe }}</strong>: {{ comment.content|safe }} </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('views.main') }}">🏠 홈으로</a>

    {% if nickname==writer %}
    <a href="{{ url_for('views.edit_post', filename=index ~ '.jpeg') }}">✏️ 수정</a>
    <a href="{{ url_for('views.delete_post', filename=index ~ '.jpeg') }}">🗑 삭제</a>
    {%endif%}


</body>

</html>