<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if length != 0 %}
        {% for board in board_list %}
            <a href="{{ url_for('views.board_info', filename=board.id ~ '.jpeg') }}">
                <h2>{{ board.id|safe }}. {{ board.nickname|safe }} : {{ board.title|safe }} </h2>
            </a>    
        {% endfor %}
    {% else %}
        <h2>게시물을 등록해주세요</h2>
        <a href="{{ url_for('views.main') }}">🏠 홈으로</a>
    {% endif %}
</body>
</html>
